node_modules/
**/node_modules/
**/dist/
**/dist-dev/
**/dist-report/
npm-debug.log*
.DS_Store
*.pem
*.env
typings/
*.tsbuildinfo
.npm
scrap.ts

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Local testing.
.spec/

# Scripts
bin/
.spec/connect.toml